<!Doctype html>
<html>

<head>
    <title>Admin Entry</title>
</head>

<body>
    <div>
        <div style="width:'100%'; border-bottom: 2px solid;">
            <img src="/brightside_logo.png" width="10%" height="20%"/>
        </div>
        <p>Boxes and forms in this page</p>
    </div>

</body>

</html>